/* ====================== FOOTER CSS ====================== */
/* Стилі для футера */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-wrapper {
  display: flex;

  flex-direction: column;

  max-width: 320px;
}

.footer-logo-block {
  flex-shrink: 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  padding: 0;
  padding-bottom: 16px;
  text-align: center;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
}

.social-media-footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  padding-bottom: 16px;
  text-align: center;
}

.icongroup-socmedia-2 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 72px;
}

.icon-socmedia-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
}

.icon-socmedia-2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-socmedia-2 a:hover,
.icon-socmedia-2 a:focus {
  background-color: #31d0aa;
}

.icon-socmedia-2 svg {
  fill: #f4f4fd;
}

/* Блок підписки у футері */
.footer-subscribe {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: column;
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-input:focus {
  border-color: #31d0aa;
}

.subscribe-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-logo-and-text {
    display: flex;
    gap: 24px;
    padding-left: 108px;
  }
  .footer-logo-block {
    max-width: 264px;
  }
  .footer-wrapper {
    max-width: 768px;
  }
  .footer-logo {
    text-align: start;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-subscribe {
    align-items: start;
    padding-left: 108px;
  }
  .social-media-footer {
    align-items: start;
  }
}
@media screen and (min-width: 1158px) {
  .footer-logo-and-text {
    flex-direction: row;
    padding: 0px;
    gap: 0;
    padding-right: 80px;
  }
  .footer-wrapper {
    display: flex;

    flex-direction: row;

    max-width: 1158px;
  }
  .social-media-footer {
    padding-left: 120px;
  }
}
