/* ====================== HEADER CSS ====================== */
/* Стилі для хедера та навігації */

.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  display: block;
  padding: 16px 0;
}
.web-accent {
  color: #4d5ae5;
}
.header-list {
  display: none;
}

.header-address-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .header-link-1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link-1:active::after {
    width: 100%;
  }

  .header-link-1.active::after {
    width: 100%;
    transition: none;
  }

  .header-link-1.active {
    color: #404bbf;
  }

  .header-address {
    margin-left: auto;
    font-style: normal;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .header-logo-wrapper {
    margin-right: 120px;
  }
  .header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
  .header-address-link-wrapper {
    display: flex;
  }
  .header-logo-wrapper {
  }
}
@media screen and (min-width: 1158px) {
  .header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
  .header-logo-wrapper {
    margin-right: 76px;
  }
}
