/* ====================== PORTFOLIO CSS ====================== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* desktop */
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-bottom: 120px;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 48px;
}

/* прибрати відступ у останнього елемента */
.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 32px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
  padding-left: 16px;
}

/* ===== TABLET ===== */
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px; /* row-gap 48px, column-gap 24px */
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}

/* ===== DESKTOP ===== */
@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
